.wrapper {
    background-color: var(--primary-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 100%;
    &.icon {
        fill: var(--primary-color);
    }
}

.filled {
    fill: var(--primary-color);
}
